<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/error.css">
    <title>error</title>
</head>
<body>
    <main class="errorBody">
        <div class="container">
            <img src="~/Imagens/404_preto.png" alt="Erro 401">
            <H2 class="errorTetle">Acesso Negado</H2>
            <section class="errorDescription">
                <p>Você não esta autorizado a ir nessa pagina! Click em Voltar para ir a pagina principal novamente</p>
                <a href="">Voltar</a>
            </section>
        </div>
    </main>
    @RenderBody()
</body>
</html>