<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <script src="https://kit.fontawesome.com/8f0503e7b9.js" crossorigin="anonymous"></script>
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image / x-icon" />
    <title>Tacos & Natchos</title>
</head>
<body>
    <header>
        <div class="menu">
            <section class="logoWriter">
                <img src="~/Imagens/logo_writer_bone.png" alt="Tachos Y Natchos" class="writer">
            </section>

            <nav class="menu-itens">
                <li><a href="~/Home/About.cshtml">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="login.html">Logout</a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-search"></i></a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-user" onclick="showOnOffSettings()"></i></a></li>
                <li class="iconBar"><a href="#"><i class="fas fa-shopping-cart " onclick="toggleCart()"></i></a></li>
            </nav>
        </div>
    </header>
    <main>
        <div class="settings hide">
            <h3>Configurações</h3>
            <section class="settingsItems">
                <a href="#">
                    <span class="icon"><i class="fas fa-user-alt"></i></span>
                    <span class="title">Meus dados</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="#">
                    <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                    <span class="title">Últimos Pedidos</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="#">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">Cupons</span>
                </a>
            </section>
            <section class="settingsItems">
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Sair</span>
                </a>
            </section>
        </div>
        <div class="navigation background">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">Cliente</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-id-card"></i></span>
                        <span class="title">Funcionário</span>
                    </a>
                </li>
            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-pepper-hot"></i></span>
                        <span class="title">Produtos</span>
                        <!--"fas fa-sort-down" -->
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-sync"></i></span>
                            <span class="title">Atualizar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-minus"></i></span>
                            <span class="title">Deletar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="list.html">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>

            </ul>
            <ul class="collapse">
                <li>
                    <a class="toggle_SubMenu">
                        <span class="icon"><i class="fas fa-drumstick-bite"></i></span>
                        <span class="title">Ingredientes</span>
                    </a>
                </li>
                <section class="collapseSubMenu hide">
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">Cadastrar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-sync"></i></span>
                            <span class="title">Atualizar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-minus"></i></span>
                            <span class="title">Deletar</span>
                        </a>
                    </li>
                    <li class="sube_Menu">
                        <a href="">
                            <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="title">Listar</span>
                        </a>
                    </li>
                </section>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                        <span class="title">Cupons</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-map"></i></span>
                        <span class="title">Cardápio</span> <!-- span é um line container, so usado quando não há nada mais semantido encaixar -->
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                        <span class="title">Reserva</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-truck"></i></span>
                        <span class="title">Delivery</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="cartBar hide">
            <section class="cartTitle"><h1>Meus Pedidos</h1></section>
            <div class="contetCart">
                <section class="itenCart">
                    <secton class="imgProd">
                        <img src="https://picsum.photos/536/354" alt="FOTO">
                    </secton>
                    <secton class="infoProd">
                        <p class="nameProd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quasi ducimus aliquid optio ipsa sint molestiae debitis doloribus. Saepe molestiae veritatis ad? Earum doloremque aperiam saepe laboriosam aliquam hic corrupti.</p>
                        <p>R$:</p>
                    </secton>
                </section>
            </div>
            <section class="cartFooter">
                <p>Saldo: </p>
                <button>Pagar</button>
            </section>
        </div>



        <div class="toggle" onclick="toggleMenu()"></div>

        <div class="content">
            @RenderBody()

        </div>

    </main>

    <footer></footer>
    <script>
        function toggleMenu() {
            let navigation = document.querySelector(".navigation");
            let toggle = document.querySelector(".toggle");
            navigation.classList.toggle("active");
            toggle.classList.toggle("active");
        }

        function showOnOffSettings() {
            let user = document.querySelector(".fa-user");
            let settings = document.querySelector(".settings");
            settings.classList.toggle("hide");
        }


        let subeMenu = document.querySelectorAll(".collapse");
        subeMenu.forEach(subeMenur => {
            console.log(subeMenur);
            let collapse = subeMenur.querySelector(".collapseSubMenu");
            console.log(collapse);
            subeMenur.addEventListener("click", () => {

                collapse.classList.toggle("hide");

            });
        });

        //function toggleSubMenu() {
        //    let navigation = document.querySelector(".collapseSubeMenu");
        //    let arrowOpen = document.querySelector(".toggle_SubMenu");
        //    navigation.classList.toggle("hide");
        //    arrowOpen.classList.toggle("arrowOpen");
        //}

        function toggleCart() {
            let Cart = document.querySelector(".cart");
            let showCart = document.querySelector(".cartBar");
            showCart.classList.toggle("hide");

        }

    </script>
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
