<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/CSS/Login.css">
    <link rel="stylesheet" href="~/CSS/form.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="contentLogin">
            @RenderBody()
        </div>
    </main>
    <script src="~/Scripts/MyForm.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
</body>
</html>