:root {
    --first-color: #ff6a00;
}

/*.bodyForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/*.mainForm {
    width: 80%;
    padding: 25px;
}*/

.formTitle {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.wrapper {
    min-width: 400px;
    /*background: white;*/
    padding: 30px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
}

    .wrapper .input-Data, .wrapper .dropDown-Data {
        height: 40px;
        width: 100%;
        position: relative;
    }

        .wrapper .input-Data input {
            height: 100%;
            width: 100%;
            border: none;
            font-size: 17px;
            background: none;
            border-bottom: 2px solid silver;
            -webkit-appearance: none;
            border-radius: 0;
            padding: 0;
            cursor: text;
        }

.input-Data input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*.input-Data input:focus ~ label, input:valid ~ label {
    transform: translateY(-30px);
    background: none;
}*/

.translate {
    transform: translateY(-30px);
    background: none;
}

.wrapper .input-Data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s ease;
}

.line {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

    .line::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: brown;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

.input-Data input:hover ~ .line::before {
    transform: scaleX(1);
}

.bottomForm {
    text-align: center;
}

.dropDown-Data .dropdown:hover ~ .line::before {
    transform: scaleX(1);
}

.dropdown {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    background: none;
    border-bottom: 2px solid silver;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    outline: none;
}

.imgOptionForm {
    transform: translateY(-30px);
    background: none;
}
