@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --first-color: #1a73e8;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/1412206.jpg);
}


main {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.contentLogin {
    background: white;
    padding: 20px;
    border-radius: 10px;
    /* width: 30%; */
    position: relative;
    margin-top: 10%;
    /* margin-left: 35%; */
    box-shadow: 1px 1px 6px 1px #343a40;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    animation: fade 500ms;
}

.titleLogin {
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.button {
    margin-top: 20px;
    background-color: #ff661a;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: stretch;
    flex-flow: column;
}

.button input {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    outline: none;
    border: none;
    background: none;
}

    .button:hover {
        background-color: #ffa500;
        border-radius: 90px;
        transition: 0.5s;
    }

.contentLogin .wrapper .input-Data {
    animation: move 500ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.button {
    animation: move 500ms;
    animation-delay: 450ms;
    animation-fill-mode: backwards;
}

.container-hide {
    /*cubic bezier*/
    animation: container-hide-move 700ms forwards;
    animation-timing-function: ease-in-out; /*entrada da animation ou saida (ease) devagar*/
}

.contentLogin .validate-error {
    animation: nono 500ms;
}

/* Animações CSS saida do ponto A ao ponto B*/

/* form aparição */
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes container-hide-move {
    from { /*0%*/
        transform: translateY(0);
    }

    to { /*100%*/
        transform: translateY(100vh);
    }
}

@keyframes nono {
    0% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-15%);
    }

    70% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(0);
    }
}
