@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f8f8f8;
}

    body::-webkit-scrollbar {
        width: 4px;
        background: none;
    }

    body::-webkit-scrollbar-thumb {
        background: #b40000;
        border-radius: 3px;
    }

.blur {
    filter: blur(20px);
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 1s;
    background: rgb(255,66,66);
    background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: tahoma;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.fa-user, .fa-shopping-cart {
    font-family: tahoma;
    font-size: 20px;
    color: white;
}

.menu nav {
    display: flex;
}

    .menu nav li {
        margin: 0px 15px;
        padding: 10px;
    }

.menu .iconBar {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 10px;
}

    .menu .iconBar:last-child {
        padding-right: 10px;
        margin: 0 10px;
    }

.menu nav li:first-child {
    margin-left: 0;
}

.menu nav li:last-child {
    margin-right: 0;
}

.menu .imagelogo img {
    width: 70px;
    height: 70px;
}

.menu .logoWriter .writer {
    width: 230px;
    height: 100px;
    margin-top: 10px;
}

/*Search*/
.search-text {
    outline: none;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    border-radius: 5px;
}

/*Cart*/
.cartBar {
    position: fixed;
    top: 10%;
    right: 0;
    width: 32%;
    height: 90vh;
    background: #ccc;
    transition: 0.5s;
    transition: 1s;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .cartBar::-webkit-scrollbar {
        width: 5px;
        background: none;
    }

    .cartBar::-webkit-scrollbar-thumb {
        background: #838383;
        border-radius: 15px;
    }


.cartTitle h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.contetCart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.itenCart {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.imgProd {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

    .imgProd img {
        width: 200px;
        height: 100px;
    }

.infoProd {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 150px;
    height: 40px;
    background: blueviolet;
}

    .infoProd .nameProd {
        text-align: justify;
        overflow: hidden;
        display: -moz-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }


.cartFooter {
    position: relative;
    bottom: 7%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

    .cartFooter p {
    }

    .cartFooter button {
        text-align: center;
        background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
        border-radius: 5px;
        padding: 10px;
        outline: 0;
        border: none;
    }


/*Settings*/
.settings {
    background: white;
    position: fixed;
    top: 11%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

    .settings h3 {
        text-align: center;
    }

    .settings .settingsItems {
        display: flex;
        flex-direction: row;
        width: 200px;
        align-items: stretch;
        justify-content: space-between;
        background: white;
        border-top: 2px solid grey;
    }



        .settings .settingsItems a {
            padding: 10px;
        }

            .settings .settingsItems a .title {
                text-align: center;
                color: red;
                padding-left: 5px;
            }

            .settings .settingsItems a .icon, .settings .settingsItems a .title {
                color: black;
            }
/*Sidebar*/
.navigation {
    position: fixed;
    top: 10%;
    width: 60px;
    height: 90vh;
    background: #006847;
    transition: 0.5s;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
}

    .navigation::-webkit-scrollbar, .navigation::-webkit-scrollbar-thumb {
        width: 10px;
        background: none;
    }

    .navigation .submenu {
        margin-left: 5%;
        color: black;
    }

    .navigation:hover,
    .navigation.active {
        width: 250px;
        z-index: 1;
    }

    /*subMenu*/
    .navigation .sube_Menu {
        padding-left: 15px;
        transition: 1s;
        z-index: 2;
    }

.hide {
    display: none;
    transition-duration: 2s;
    transition-property: all;
}

.toggle_SubMenu::after {
    content: '\f0d9';
    font-family: "fontAwesome";
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    font-size: 20px;
    margin-left: 40px;
    display: inline;
    transform: rotate(0);
}

.toggle_SubMenu.arrowOpen::after {
    transform: rotate(270deg);
}

/*---------------------------------*/
.navigation ul li {
    width: 100%;
    list-style: none;
}

    .navigation ul li:hover {
        background: white;
        transition: 1s;
    }

    .navigation ul li a:hover {
        color: black;
        transition: 0.5s;
    }

    .navigation ul li a {
        position: relative;
        /*display: block;*/
        display: flex;
        text-decoration: none;
        color: aliceblue;
        transition: 0.5ms;
    }

        .navigation ul li a .icon {
            position: relative;
            display: block;
            min-width: 60px;
            height: 20px;
            line-height: 60px;
            text-align: center;
            /*margin-top: 5%;*/
        }

            .navigation ul li a .icon .fas, .navigation ul li a .icon .fab {
                font-size: 20px;
                line-height: 60px;
            }

        .navigation ul li a .title {
            position: relative;
            display: block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
            text-align: start;
            white-space: nowrap;
        }

.toggle {
    position: absolute;
    top: 12%;
    right: 1%;
    width: 50px;
    height: 50px;
    background: #006847;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: -0.05px -0.05px 5px 0.20px #006847;
    display: none;
}


    .toggle.active {
        background: #006847;
        box-shadow: -0.05px -0.05px 5px 0.20px #006847;
    }

    .toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }

    .toggle.active:before {
        content: '\f00d';
        font-family: fontAwesome;
    }

/*Content*/
.content {
    width: 90%;
    margin-top: 10%;
    margin-left: 9%;
    z-index: 1;
    overflow: hidden;
}

.contentCart {
    /* position: absolute; */
    /* top: 80%; */
    /* margin-left: 9%; */
    display: flex;
    justify-content: space-around;
}

/*Slide*/
.main {
    height: auto;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideContainer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.slideItens {
    width: 500%;
    height: 500px;
    display: flex;
}

    .slideItens input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

/*manual*/

.navigationManual {
    position: absolute;
    width: 50%;
    margin-top: -40px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    left: 30%;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: #40d3dc;
    }

#radio1:checked ~ .frist {
    margin-left: 0;
}


#radio2:checked ~ .frist {
    margin-left: -20%;
}


#radio3:checked ~ .frist {
    margin-left: -40%;
}


#radio4:checked ~ .frist {
    margin-left: -60%;
}

/*navigationAuto*/

.navigationAuto {
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    margin-top: 460px;
    left: 30%;
}

    .navigationAuto section {
        border: 2px solid #40d3dc;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

        .navigationAuto section:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigationAuto .auto-btn0 {
    background: #40d3dc;
}

#radio2:checked ~ .navigationAuto .auto-btn1 {
    background: #40d3dc;
}

#radio3:checked ~ .navigationAuto .auto-btn2 {
    background: #40d3dc;
}

#radio4:checked ~ .navigationAuto .auto-btn3 {
    background: #40d3dc;
}


/*titleImg*/
.imagenContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

    .imagenContainer .titleImg {
        width: 100%;
        height: 350px;
        background-image: url("/Imagens/cardapio_title.png");
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }

/*lastOrders*/
.lastOrders {
    margin-top: 10%;
}

    .lastOrders h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
    }

    .lastOrders .lastOrderItensRow {
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        margin: 30px;
    }

        .lastOrders .lastOrderItensRow .lastOrderItensColun {
            margin: 0 10px;
        }

            .lastOrders .lastOrderItensRow .lastOrderItensColun p {
                align-items: center;
                margin: 0 10px;
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
            }


@media (max-width: 760px) {
    .navigation {
        left: -60px;
    }

        .navigation.active {
            left: 0px;
            width: 100%;
        }

    .toggle {
        display: block;
    }
}
