@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f8f8f8;
}

    body::-webkit-scrollbar {
        width: 4px;
        background: none;
    }

    body::-webkit-scrollbar-thumb {
        background: #b40000;
        border-radius: 3px;
    }

.blur {
    filter: blur(20px);
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 1s;
    background: rgb(255,66,66);
    background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: tahoma;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.fa-user, .fa-shopping-cart, .fa-search {
    font-family: tahoma;
    font-size: 20px;
    color: white;
}

.menu nav {
    display: flex;
}

    .menu nav li {
        margin: 0px 15px;
        padding: 10px;
    }

.menu .iconBar {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 10px;
}

    .menu .iconBar:last-child {
        padding-right: 10px;
        margin: 0 10px;
    }

.menu nav li:first-child {
    margin-left: 0;
}

.menu nav li:last-child {
    margin-right: 0;
}

.menu .imagelogo img {
    width: 70px;
    height: 70px;
}

.menu .logoWriter .writer {
    width: 230px;
    height: 100px;
    margin-top: 10px;
}

/*Search*/
.search-text {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font: 20px;
    font-weight: 400;
}

.searchConteiner {
    border-radius: 10px;
    margin-top: 3%;
    margin-right: 75px;
    margin-left: 75px;
    padding: 10px;
    background: white;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .searchConteiner button {
        border: none;
        outline: none;
        background: none;
    }

.fa-search {
    padding: 10px;
    color: #000;
}

.searchConteiner button:active {
    color: #000;
    background: #cc0c0c;
    border-radius: 20px;
}

/* .fa-search:before {
        content: "f002";
    }*/

/*Cart*/
.cartBar {
    position: fixed;
    top: 10%;
    right: 0;
    width: 32%;
    height: 90vh;
    background: #ccc;
    transition: 0.5s;
    transition: 1s;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .cartBar::-webkit-scrollbar {
        width: 5px;
        background: none;
    }

    .cartBar::-webkit-scrollbar-thumb {
        background: #838383;
        border-radius: 15px;
    }


.cartTitle h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.contetCart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.itenCart {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.imgProd {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

    .imgProd img {
        width: 200px;
        height: 100px;
    }

.infoProd {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 150px;
    height: 40px;
    background: blueviolet;
}

    .infoProd .nameProd {
        text-align: justify;
        overflow: hidden;
        display: -moz-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }


.cartFooter {
    position: relative;
    bottom: 7%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

    .cartFooter p {
    }

    .cartFooter button {
        text-align: center;
        background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
        border-radius: 5px;
        padding: 10px;
        outline: 0;
        border: none;
    }


/*Settings*/
.settings {
    background: white;
    position: fixed;
    top: 11%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

    .settings h3 {
        text-align: center;
    }

    .settings .settingsItems {
        display: flex;
        flex-direction: row;
        width: 200px;
        align-items: stretch;
        justify-content: space-between;
        background: white;
        border-top: 2px solid grey;
    }



        .settings .settingsItems a {
            padding: 10px;
        }

            .settings .settingsItems a .title {
                text-align: center;
                color: red;
                padding-left: 5px;
            }

            .settings .settingsItems a .icon, .settings .settingsItems a .title {
                color: black;
            }

/*IndexContet*/

.indexContent {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

    .indexContent .indexContentLineColuns {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 50px;
    }

.indexContentLineColuns .Delively, .indexContentLineColuns .Reserva, .indexContentLineColuns .Cardapio {
    margin: 10px;
    padding: 20px;
    background-size: cover;
    /*background-attachment:fixed;*/
    background-position: center;
}

.indexContentLineColuns .Delively {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Imagens/Delivery.jpeg");
}

.indexContentLineColuns .Reserva {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Imagens/Reserva.jpeg");
}

.indexContentLineColuns .Cardapio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Imagens/Cardapio.jpeg");
}

    .indexContentLineColuns .Delively p, .indexContentLineColuns .Reserva p, .indexContentLineColuns .Cardapio p {
        text-align: justify;
        font-family: 'Work Sans', sans-serif;
        font: 20px;
        color: azure;
        padding-bottom: 20px;
        max-width: 350px;
        min-height: 200px;
    }

.indexContentLineColunsButton {
    display: flex;
    flex-flow: row;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.5px solid white;
    border-radius: 6px;
    margin-left: 30px;
    margin-right: 30px;
}

    .indexContentLineColunsButton:hover {
        border: 0.5px solid #c20101;
        background: #c20101;
    }

.indexContentLineColuns .Delively a, .indexContentLineColuns .Reserva a, .indexContentLineColuns .Cardapio a {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    left: 40%;
    right: 40%;
}

.about {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Delively h3, .Reserva h3, .Cardapio h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.Us h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.indexContentLineRow .Us p {
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    min-width: 20px;
}

/*Sidebar*/
.navigation {
    position: fixed;
    top: 10%;
    width: 60px;
    height: 90vh;
    background: #006847;
    transition: 0.5s;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
}

    .navigation::-webkit-scrollbar, .navigation::-webkit-scrollbar-thumb {
        width: 10px;
        background: none;
    }

    .navigation .submenu {
        margin-left: 5%;
        color: black;
    }

    .navigation:hover,
    .navigation.active {
        width: 250px;
        z-index: 1;
    }

    /*subMenu*/
    .navigation .sube_Menu {
        padding-left: 15px;
        transition: 1s;
        z-index: 2;
    }

.hide {
    display: none;
    transition-duration: 2s;
    transition-property: all;
}

.toggle_SubMenu::after {
    content: '\f0d9';
    font-family: "fontAwesome";
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    font-size: 20px;
    margin-left: 40px;
    display: inline;
    transform: rotate(0);
}

.toggle_SubMenu.arrowOpen::after {
    transform: rotate(270deg);
}

/*---------------------------------*/
.navigation ul li {
    width: 100%;
    list-style: none;
}

    .navigation ul li:hover {
        background: white;
        transition: 1s;
    }

    .navigation ul li a:hover {
        color: black;
        transition: 0.5s;
    }

    .navigation ul li a {
        position: relative;
        /*display: block;*/
        display: flex;
        text-decoration: none;
        color: aliceblue;
        transition: 0.5ms;
    }

        .navigation ul li a .icon {
            position: relative;
            display: block;
            min-width: 60px;
            height: 20px;
            line-height: 60px;
            text-align: center;
            /*margin-top: 5%;*/
        }

            .navigation ul li a .icon .fas, .navigation ul li a .icon .fab {
                font-size: 20px;
                line-height: 60px;
            }

        .navigation ul li a .title {
            position: relative;
            display: block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
            text-align: start;
            white-space: nowrap;
        }

.toggle {
    position: absolute;
    top: 12%;
    right: 1%;
    width: 50px;
    height: 50px;
    background: #006847;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: -0.05px -0.05px 5px 0.20px #006847;
    display: none;
}


    .toggle.active {
        background: #006847;
        box-shadow: -0.05px -0.05px 5px 0.20px #006847;
    }

    .toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }

    .toggle.active:before {
        content: '\f00d';
        font-family: fontAwesome;
    }

/*Content*/
.content {
    width: 90%;
    margin-top: 10%;
    margin-left: 9%;
    z-index: 1;
    overflow: hidden;
}

.contentGeral {
    /* position: absolute; */
    /* top: 80%; */
    /* margin-left: 9%; */
    /* display: flex;
    justify-content: space-around;*/
    margin-top: 12%;
}

/*Slide*/
.main {
    height: auto;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideContainer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.slideItens {
    width: 500%;
    height: 500px;
    display: flex;
}

    .slideItens input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

/*manual*/

.navigationManual {
    position: absolute;
    width: 50%;
    margin-top: -40px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    left: 30%;
}

.manual-btn {
    border: 2px solid #c50404;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: #c50404;
    }

#radio1:checked ~ .frist {
    margin-left: 0;
}


#radio2:checked ~ .frist {
    margin-left: -20%;
}


#radio3:checked ~ .frist {
    margin-left: -40%;
}


#radio4:checked ~ .frist {
    margin-left: -60%;
}

/*navigationAuto*/

.navigationAuto {
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    margin-top: 460px;
    left: 30%;
}

    .navigationAuto section {
        border: 2px solid #c50404;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

        .navigationAuto section:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigationAuto .auto-btn0 {
    background: #c50404;
}

#radio2:checked ~ .navigationAuto .auto-btn1 {
    background: #c50404;
}

#radio3:checked ~ .navigationAuto .auto-btn2 {
    background: #c50404;
}

#radio4:checked ~ .navigationAuto .auto-btn3 {
    background: #c50404;
}


/*titleImg*/
.imagenContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

    .imagenContainer .titleImg {
        width: 100%;
        height: 400px;
        background-image: url("/Imagens/cardapio_title.png");
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }

/*lastOrders*/
.lastOrders {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}

    .lastOrders h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
    }

    .lastOrders .lastOrderItensRow {
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        margin: 30px;
    }

        .lastOrders .lastOrderItensRow:hover {
            background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
            transition: 0.5s;
        }

        .lastOrders .lastOrderItensRow .lastOrderItensColun {
            margin: 0 10px;
        }

            .lastOrders .lastOrderItensRow .lastOrderItensColun p {
                align-items: center;
                margin: 0 10px;
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
                font-weight: 300;
            }

/*Details*/
.contentDetails {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 5%;
}

    .contentDetails .infoDetailsProd, .contentDetails .imgDetailsProd {
        padding: 10px;
        margin: 10px;
    }

        .contentDetails .infoDetailsProd .infoDetailsProdP {
            max-width: 450px;
            text-align: justify;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .contentDetails .infoDetailsProd p {
            font-family: 'Work Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        .contentDetails .infoDetailsProd h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            padding-bottom: 10px;
            text-align: center;
        }

.detailsFooter {
    display: flex;
    flex-flow: row;
    background: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.5px solid #c20101;
    border-radius: 6px;
    margin-left: 30px;
    margin-right: 30px;
}

    .detailsFooter button {
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        background: none;
        outline: none;
        border: none;
        color: black;
        cursor: pointer;
    }

        .detailsFooter:hover, .detailsFooter button:hover {
            background: #c20101;
            color: white;
        }

/*Footer*/
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid grey;
}

.footerContent {
    display: flex;
    flex-flow: column;
}

    .footerContent .foooterContentBottom {
        background: linear-gradient(90deg, rgba(255,66,66,1) 4%, rgba(193,0,0,1) 56%, rgba(145,0,0,1) 98%);
        padding: 20px;
    }

        .footerContent .foooterContentBottom p {
            font-family: 'Work Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: white;
        }

.footerContentTop {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

    .footerContentTop Contato, .footerContentTop End, .footerContentTop Social {
        padding: 20px;
    }

    .footerContentTop .Contato p, .footerContentTop .End p, .footerContentTop .Social p {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    .footerContentTop .Social a .fab {
        border: 1px solid black;
        width: 45px;
        height: 35px;
        padding: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        border-radius: 5px;
        transition: 1s;
        color: black;
        font-size: 20px;
    }

        .footerContentTop .Social a .fab:hover {
            border: 1px solid white;
        }

    .footerContentTop .Social a .fa-instagram:hover {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        transition: 0.5s;
        color: white;
    }

    .footerContentTop .Social a .fa-facebook-f:hover {
        background: #3b5998;
        transition: 0.5s;
        color: white;
    }

    .footerContentTop .Social a .fa-whatsapp:hover {
        background: #34af23;
        transition: 0.5s;
        color: white;
    }

    .footerContentTop h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
        text-align: center;
    }

@media (max-width: 760px) {
    .navigation {
        left: -60px;
    }

        .navigation.active {
            left: 0px;
            width: 100%;
        }

    .toggle {
        display: block;
    }
}
