@model TCC.Models.Produto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cliente.cshtml";
}

<div class="contentDetails">
    <section class="imgDetailsProd">

        <img src="@Url.Content(Model.Imagem)" alt="FOTO">
    </section>
    <section class="infoDetailsProd">
        <h1> @Html.DisplayFor(model => model.NomeProd)</h1>
        <p class="infoDetailsProdP"> @Html.DisplayFor(model => model.DescProd)</p>
        <p>@Html.DisplayFor(model => model.ValorProd)</p>
        <section class="detailsFooter">
            @using (Html.BeginForm("AdicionaCarrinho", "Produto_pedido", new { prodId = Model.IdProd, valor = Model.ValorProd, nome = Model.NomeProd }, FormMethod.Post))
            {
            <button type="submit">Adicionar ao Carrinho</button>
            }
        </section>
    </section>
</div>