
@{
    ViewBag.Title = "ObrigadoPorComprar";
    Layout = "~/Views/Shared/_Cliente.cshtml";
}


    <link rel="stylesheet" href="~/CSS/obrigado.css">

    <div class="obrigadoConteiner">
        <section class="obrigadoContente">
            <img src="~/Imagens/obrigado.png">
            <section class="obrigadoConteinerVoltar">
                <a href="@Url.Action("Index","Home")">Voltar</a>
            </section>
        </section>
    </div>


